.game-container, .game-content {
    height: 100vh;
    width: 100%;
    /*overflow: hidden;*/
}

.game-container h1{
    margin-bottom: 3vh;
}

.game-container p{
    margin-bottom: 5vh;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-content {
    width: 75%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    gap: 1em;
}

.card {
    width: 15vw;
    height: 30vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card img {
    width: auto;
    height: 100%;
    position: absolute;
    box-shadow: 8px 8px 10px 0px rgba(0, 0, 0, 0.4);
    border-radius: 14px;
}
  
.card .front {
    transform: rotateY(90deg);
    transition: all ease-in 0.2s;
    position: absolute;
}

.flipped .front {
    transform: rotateY(0deg);
    transition-delay: 0.2s;
}

.card .back {
    transition: all ease-in 0.2s;
    transition-delay: 0.2s;
}

.flipped .back {
    transform: rotateY(90deg);
    transition-delay: 0s;
}